<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ translations.site_title }}</title>
    <meta name="description" content="PWA app" />
    <meta name="theme-color" content="#009578" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
      integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
      crossorigin=""
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css"
      rel="stylesheet"
    />
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
    <link rel="stylesheet" href="../static/css/custom_markers.css" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet.markercluster@1.5.3/dist/MarkerCluster.css"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet.markercluster@1.5.3/dist/MarkerCluster.Default.css"
    />
    <script
      src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
      integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
      crossorigin=""
    ></script>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css"
    />
    <link rel="manifest" href="manifest.json" />
    <link rel="apple-touch-icon" href="/app/static/img/pwa_icons/logo192.png" />
    <link rel="stylesheet" href="../static/css/table_design.css" />
    <link rel="stylesheet" href="../static/css/libs/bootstrap.min.css" />
    <link rel="stylesheet" href="../static/css/components/navbar.css" />
    <link rel="stylesheet" href="../static/css/components/cards.css" />
    <link rel="stylesheet" href="../static/css/components/sidebar.css" />
    <link rel="stylesheet" href="../static/css/components/table.css" />
    <link
      rel="stylesheet"
      href="../static/css/custom-components/btn.back-close.css"
    />
  </head>

  <style>
    #app-wrapper {
      display: flex;
      flex-direction: row;
      height: 100vh;
      overflow: hidden;
    }
    /* Теперь обертка контролирует пространство под навбаром */
    #content-wrapper {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      position: relative; /* Чтобы инфо-окна позиционировались внутри него */
      height: 100%;
    }
    #map-wrapper {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      position: relative; /* Чтобы инфо-окна позиционировались внутри него */
      height: 100%;
    }
    #map {
      flex-grow: 1;
      transition: all 0.5s ease;
    }
  </style>

  <body>
    <div id="app-wrapper">
      {% include "sidebar.html" %} {% include "modal.html" %}
      <div id="content-wrapper">
        <div id="navbar-block"></div>
        <div id="map-wrapper">
          <div id="map" class="map-container"></div>
          <div id="transports-info-window"></div>
          <div id="stations-info-window"></div>
        </div>
      </div>
    </div>

    <script id="app-data" type="application/json">
      {{ {"map_type": map_type, "translations": translations} | tojson }}
    </script>
    <script src="https://unpkg.com/leaflet-geometryutil"></script>
    <script src="https://cdn.jsdelivr.net/npm/leaflet-polylinedecorator@1.6.0/dist/leaflet.polylineDecorator.min.js"></script>
    <script src="https://unpkg.com/@turf/turf@6/turf.min.js"></script>
    <script src="https://unpkg.com/leaflet.markercluster@1.5.3/dist/leaflet.markercluster.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.10.2/umd/popper.min.js"
      integrity="sha512-nnzkI2u2Dy6HMnzMIkh7CPd1KX445z38XIu4jG1jGw7x5tSL3VBjE44dY4ihMU1ijAQV930SPM12cCFrB18sVw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script src="../static/js/libs/bootstrap.min.js"></script>
    <script src="../static/js/core/map.models.js" type="module"></script>
    <script src="../static/js/core/base.models.js" type="module"></script>
    <script src="../static/js/map/map.js" type="module"></script>
    <script
      src="../static/js/components/desktop/station.card.js"
      type="module"
    ></script>
    <script src="../static/js/map/websocket.js" type="module"></script>
    <script src="../static/js/map/markers.visibility.js" type="module"></script>
    <script
      src="../static/js/transports/get_nearest_time.js"
      type="module"
    ></script>
    <script
      src="../static/js/components/desktop/transport.card.js"
      type="module"
    ></script>
    <script
      src="../static/js/components/desktop/list.sidebar.js"
      type="module"
    ></script>
    <script
      src="../static/js/components/desktop/schedule.sidebar.js"
      type="module"
    ></script>
    <script
      src="../static/js/components/desktop/templates/schedule.template.js"
      type="module"
    ></script>
    <script
      src="../static/js/components/desktop/navbar.js"
      type="module"
    ></script>
    <!-- <script
      src="../static/js/components/desktop/sidebar.js"
      type="module"
    ></script> -->
    <script src="../static/js/init.js" type="module"></script>
    <!-- <script src="../static/js/sidebar/list_routes.js" type="module"></script> -->
    <script src="../static/js/routes/routes.js" type="module"></script>
    <script src="../static/json/parse_json.js" type="module"></script>
    <!-- <script src="../static/js/sidebar/show_schedule.js" type="module"></script> -->
    <script src="../static/js/pwa/index.js"></script>
  </body>
</html>
