<div class="card transport-card">
  <div class="card-body">
    <h5 class="card-title">ТИП ТРАНСПОРТА</p></h5>
    <button class="btn btn-danger close-button" type="button" style="position:absolute; top: 5px; right: 5px;">×</button>
    <img style="width: 300px; height: 225px;" src="" alt="Transport image">
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item route">Маршрут: </li>
    <li class="list-group-item number">Номер: </li>
    <li class="list-group-item passed">Проехал: {остановка}</li>
    <li class="list-group-item going_to">Движется к: {остановка}</li>
  </ul>
</div>