<!-- Отображение расписания -->

<div
  class="offcanvas offcanvas-start"
  tabindex="-1"
  id="secondOffcanvas"
  data-bs-backdrop="false"
>
  <div class="offcanvas-header border-bottom">
    <h5 class="offcanvas-title">
      {{ translations['second-sidebar-header-h1'] }}
    </h5>
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="offcanvas"
    ></button>
  </div>
  <div class="offcanvas-body py-1">
    <div class="container d-flex mb-2 border-bottom py-2">
      <span
        class="badge bg-primary me-2 d-inline-flex align-items-center justify-content-center badge-custom"
        style="width: auto; font-size: 18px"
        >12A</span
      >
      <select class="form-select" aria-label=".form-select">
        <option value="1" selected>One</option>
        <option value="2">Two</option>
      </select>
    </div>

    <div class="row">
      <div class="col-4 pe-0">
        <div class="list-group">
          <button
            type="button"
            class="list-group-item list-group-item-action"
            aria-current="true"
            style="height: auto; font-size: 15px"
          >
            The current button
          </button>
        </div>
      </div>
      <div class="col-8">
        <div
          class="tab-content p-3"
          id="nav-tabContent"
          style="background-color: whitesmoke; border-radius: 2%"
        >
          <div
            class="tab-pane fade show active"
            id="list-home"
            role="tabpanel"
            aria-labelledby="list-home-list"
          >
            <div class="card mb-3">
              <div class="card-header" style="font-weight: 600">
                Также посещают:
              </div>
            </div>

            <div class="container d-flex justify-content-around">
              <table class="table table-bordered mb-4" style="width: auto">
                <thead>
                  <tr>
                    <th colspan="2" style="font-weight: 600">Рабочие дни</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td style="font-weight: 600">6</td>
                    <td>adsf</td>
                  </tr>
                  <tr>
                    <td>12</td>
                    <td>Cell D</td>
                  </tr>
                </tbody>
              </table>

              <table class="table table-bordered mb-4" style="width: auto">
                <thead>
                  <tr>
                    <th colspan="2" style="font-weight: 600">Выходные дни</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td style="font-weight: 600">6</td>
                    <td>adsf</td>
                  </tr>
                  <tr>
                    <td>12</td>
                    <td>Cell D</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="card mb-3">
              <div class="card-header">
                <strong style="font-weight: 600">Перевозчик:</strong> A/S
                "Liepājas autobusu parks"
              </div>
            </div>

            <div class="card">
              <div class="card-header">
                <strong style="font-weight: 600">Подсказки:</strong> Lorem ipsum
                dolor, sit amet consectetur adipisicing elit. Saepe, quod?
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
