<style>
  /* Основной контейнер sidebar */
  .offcanvas-start {
    width: 40% !important;
    display: flex !important;
    flex-direction: column !important;
    height: 100vh !important; /* На всю высоту экрана */
  }

  /* Контейнер, куда вставляется ваш шаблон из JS */
  #routesList {
    display: flex;
    flex-direction: column;
    flex-grow: 1; /* Занимает всё свободное пространство */
    overflow: hidden; /* Запрещаем общий скролл */
  }

  /* Внутренние списки маршрутов (те самые .list-group-scroll) */
  .route-list-scroll {
    overflow-y: auto !important; /* Разрешаем только вертикальный скролл */
    flex-grow: 1;
    max-height: 100%;
    scrollbar-width: thin; /* Тонкий скролл для Firefox */
  }

  /* На телефонах пусть занимает всю ширину */
  @media (max-width: 1000px) {
    .offcanvas-start {
      width: 100% !important;
    }
  }
</style>

<div
  class="offcanvas offcanvas-start"
  tabindex="-1"
  id="offcanvas"
  aria-labelledby="offcanvasLabel"
>
  <div id="routesList"></div>
  <!-- <div class="offcanvas-header">
    <h5 id="offcanvasLabel">Offcanvas left</h5>
    <button
      type="button"
      class="btn-close text-reset"
      data-bs-dismiss="offcanvas"
      aria-label="Close"
    ></button>
  </div>
  <div class="offcanvas-body">...</div> -->

  {% include "schedule.html" %}
</div>
