<style>
  /* Ширина sidebar по умолчанию */
  .offcanvas-start {
    width: 40% !important;
  }

  /* На телефонах пусть занимает всю ширину */
  @media (max-width: 1000px) {
    .offcanvas-start {
      width: 100% !important;
    }
  }
</style>

<div
  class="offcanvas offcanvas-start"
  tabindex="-1"
  id="offcanvas"
  aria-labelledby="offcanvasLabel"
>
  <div id="routesList"></div>
  <!-- <div class="offcanvas-header">
    <h5 id="offcanvasLabel">Offcanvas left</h5>
    <button
      type="button"
      class="btn-close text-reset"
      data-bs-dismiss="offcanvas"
      aria-label="Close"
    ></button>
  </div>
  <div class="offcanvas-body">...</div> -->

  {% include "schedule.html" %}
</div>
